<div class="photo-card">
    <img src="&{tags}" alt="${webformatURL}" />

    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            ${favorites}
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            ${views}
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            ${comments}
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            ${downloads}
        </p>
    </div>
</div>