.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_e {
  margin: 0;
  font-size: 400%;
  cursor: pointer;
}
.about_title {
  margin: 0;
  margin-bottom: 15px;
}
.about_deccription {
  margin: 0;
  color: whitesmoke;
}

.about.disable {
  display: none;
}

.total {
  display: block;
  cursor: help;
  width: 100px;
}
.total.disable {
  display: none;
}
.total-g {
  font-size: 80%;
}
.total-p {
}
